<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>PHP CodeSniffer</string>
	<key>ordering</key>
	<array>
		<string>1BAE9279-8E16-41DB-89D5-CDFE146D8C72</string>
	</array>
	<key>uuid</key>
	<string>D7639815-1DCE-4AB0-8E0B-33D6CE10E9DF</string>
</dict>
</plist>
