html, body {
	font-family: "Helvetica", sans-serif;
	background-color: #FFFFFF;
	font-size: 12px;
}

.error, .warning {
	cursor: pointer;
}

.error:hover {
	background-color: #FBC2C4;
}

.warning:hover {
	background-color: #FFD324;
}

.type {
	font-weight: bold;
}

.source {
	float: right;
}

.error-msg {
	margin-top: 2px;
}

.summary {
	width: 80%;
	margin-bottom: 3px;
	padding-bottom: 3px;
	color: black;
}

.footer {
	border-top: 1px solid black;
	width: 95%;
	margin-top: 3px;
	padding-top: 3px;
	color: black;
}

/**
 * Success, info, notice and error/alert boxes
 * Taken from Blueprint CSS: http://blueprintcss.org/
 */

.error,
.alert,
.notice,
.warning,
.success,
.info             { padding: 0.8em; margin-bottom: 0.4em; border: 2px solid #DDD; }

.error, .alert    { background: #FBE3E4; color: #8A1F11; border-color: #FBC2C4; }
.notice, .warning { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success          { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.info             { background: #D5EDF8; color: #205791; border-color: #92CAE4; }